streamlit==1.37.0
torch==2.3.1
transformers==4.44.2
requests==2.32.3
beautifulsoup4==4.12.3
scikit-learn==1.5.1
rouge-score==0.1.2
yake==0.4.8
nltk==3.8.1
protobuf==4.25.3
sentencepiece==0.2.0
